.cartItem{
    border-bottom: 1px solid grey;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-bottom: 1rem;
    gap: 2rem;
    padding-bottom: 2rem;
    align-items: center;
}

.imgandtitle{
  display: flex;
  align-items: center;
  gap: 1rem;

}

.ImgContainer{
   
}
.cartImage{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   object-fit: cover;
   object-position: top;
   mix-blend-mode: darken;
}
.otherControls{
   
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 2rem;
}
.qtyInput{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.qtyInput button,.cartClose{
    border: none;
    font-size: 1rem;
    font-weight: bold;
}
.quantity{
    font-weight: bold;
    font-size: 1rem;
    color: blue;
}
.price{

}
.title{

}
.cartClose{

}
@media screen and (max-width:1000px){
    .cartItem{
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
    }
    .otherControls{
        justify-content: start;
        gap: 2rem;
     }
}